---
- Media:
    - Jellyfin:
        href: http://unraid.bun-delta.ts.net:8096
        widget:
            type: jellyfin
            url: http://unraid.bun-delta.ts.net:8096
            key: {{HOMEPAGE_VAR_JELLYFIN_API_KEY}}
            fields: [ ]
            enableBlocks: true
            enableNowPlaying: true
            enableUser: true
    - Jellyseerr:
        href: http://unraid.bun-delta.ts.net:5055
        widget:
            type: jellyseerr
            url: http://unraid.bun-delta.ts.net:5055
            key: {{HOMEPAGE_VAR_JELLYSEERR_API_KEY}}
            fields: ["pending", "approved", "available"]
    - Transmission:
        href: http://unraid.bun-delta.ts.net:9091
        widget:
            type: transmission
            url: http://unraid.bun-delta.ts.net:9091
            username: {{HOMEPAGE_VAR_TRANSMISSION_USERNAME}}
            password: {{HOMEPAGE_VAR_TRANSMISSION_PASSWORD}}
            fields: ["leech", "download", "seed", "upload"]
    - Prowlarr:
        href: http://unraid.bun-delta.ts.net:9696
        widget:
            type: prowlarr
            url: http://unraid.bun-delta.ts.net:9696
            key: {{HOMEPAGE_VAR_PROWLARR_API_KEY}}
            fields: ["numberOfGrabs", "numberOfQueries", "numberOfFailGrabs", "numberOfFailQueries"]
    - Radarr:
        href: http://unraid.bun-delta.ts.net:7878
        widget:
            type: radarr
            url: http://unraid.bun-delta.ts.net:7878
            key: {{HOMEPAGE_VAR_RADARR_API_KEY}}
            # enableQueue: true
            fields: ["wanted", "missing", "queued", "movies"]
    - Sonarr:
        href: http://unraid.bun-delta.ts.net:8989
        widget:
            type: sonarr
            url: http://unraid.bun-delta.ts.net:8989
            key: {{HOMEPAGE_VAR_SONARR_API_KEY}}
            # enableQueue: true
            fields: ["wanted", "queued", "series"]
    - Threadfin:
        href: http://unraid.bun-delta.ts.net:34400/web
    - BitMagnet:
        href: http://unraid.bun-delta.ts.net:3333
    - Dispatcharr:
        href: http://unraid.bun-delta.ts.net:9191/
- AI + Automation + Monitoring:
    - Open Web UI:
        href: http://ionos-1.bun-delta.ts.net:8081
        server: ionos-1
        container: open-webui
        showStats: true
    - All-Hands:
        href: http://ionos-1.bun-delta.ts.net:3001/
        # server: GPU-Main
        # showStats: true
    - Grafana:
        href: http://ionos-1.bun-delta.ts.net:3050
        server: ionos-1
        container: grafana
        showStats: true
    - Prometheus:
        href: http://ionos-1.bun-delta.ts.net:9090
        server: ionos-1
        container: prometheus
        showStats: true
- Home:
    - Home Assistant:
        href: http://homeassistant.bun-delta.ts.net:8123
        server: Home Assistant
        showStats: true
    - LocalAI:
        href: http://dl380.bun-delta.ts.net:8082
        server: dl380
        # container: localai
        # showStats: true
    # - Anything LLM:
    #     href: http://cloud-main.bun-delta.ts.net:3001
    #     server: Cloud-Main
    #     container: anythingllm
    #     showStats: true
    - Wallos:
        href: http://dl380.bun-delta.ts.net:8282/
        server: dl380
        widget:
            type: wallos
            url: http://dl380.bun-delta.ts.net:8282
            key: {{HOMEPAGE_VAR_WALLOS_API_KEY}}
    - Storj-Unraid:
        href: http://unraid.bun-delta.ts.net:14002

- Cloud:
    - Nginx Proxy Manager:
        href: http://ionos-1.bun-delta.ts.net:81
        server: ionos-1
        container: nginx-proxy-manager
        showStats: true
    - N8N:
        href: https://n8n.luffy.casa/
        server: ionos-1
        container: n8n
        showStats: true
#     - Baikal:
#         href: http://chungus.bun-delta.ts.net:82
#         server: Chungus
#         container: baikal
#         showStats: false
#     - Lube Logger:
#         href: http://chungus.bun-delta.ts.net:8080
#         widget:
#             type: lubelogger
#             url: http://cloud-main.bun-delta.ts.net:8080
#             # vehicleID: 1 # Optional for single vehicle mode
#         server: Cloud-Main
#         container: lubelogger
#         showStats: false
#     - Storj-2:
#         href: http://chungus.bun-delta.ts.net:14002
#         server: Chungus
#         container: storj-2
#         showStats: true
- Others:
    - NextDNS:
        widget:
            type: nextdns
            profile: {{HOMEPAGE_VAR_NEXT_DNS_PROFILE}}
            key: {{HOMEPAGE_VAR_NEXT_DNS_KEY}}
